@font-face {
    font-family: "Rubik";
    src: url("./Rubik-Regular.ttf") format("truetype");
}

body {
    background-color: #f0f8ff;
    height: 100vh;
    margin: 0;
    font-family: "Rubik";
}

button:active {
    transform: translateY(2px);
}

footer {
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: #abd2fa;
    border: 1px solid black;
}

header {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    padding: 5px;
    padding-bottom: -10px;
    gap: 20px;
    background-color: #abd2fa;
}

input:active,
input:focus {
    outline: none;
}

ul {
    list-style-type: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.addBtn {
    background-color: #091540;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    color: #f0f8ff;
    border-radius: 10px;
    border: #f0f8ff;
    cursor: pointer;
    font-size: larger;
    padding: 10px;
    align-self: center;
    justify-self: center;
}

.closeIcon {
    align-self: flex-end;
    font-size: 20px;
    margin: 6px;
    cursor: pointer;
}

.createBtn {
    height: 30px;
    width: 76px;
    padding: 3px;
}

.addBtn:hover {
    background-color: #f0f8ff;
    color: #091540;
}

.addBtn:active {
    background-color: #f0f8ff;
    box-shadow: inset 2px 3px 10px 1px rgba(0, 0, 0, 0.8);
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.hiddenDiv {
    display: none;
}

.main {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    flex: 1;
}

.mainHeader {
    margin-top: 50px;
    font-size: 40px;
}

.newProjectForm {
    display: flex;
    flex-direction: column;
    padding: 6px;
    gap: 6px;
    margin-top: 10px;
    align-items: center;
}

.projectList {
    display: flex;
    align-content: center;
    justify-content: center;
}

.projects {
    font-size: large;
    font-weight: bolder;
    margin-bottom: 20px;
    text-align: center;
}

.projects > li {
    width: max-content;
    padding: 4px;
    border-radius: 2px;
}

.projects > li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.sideBar {
    text-align: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    width: 250px;
    background-color: #7692ff;
    border-right: 1px solid black;
    align-content: center;
    flex-shrink: 2;
}

.sideBarHeader {
    font-size: x-large;
}

#newProjectTitle {
    height: 30px;
    border-radius: 30px;
    color: #091540;
    border: 1px solid black;
    text-align: center;
}

#todoIcon {
    width: 100px;
    height: 100px;
}
